{% include "header.html" %}
<div>{{usr}}'s team</div>
<table>
<tr>
	<th>
		Name
	</th>
	<th>
		Position
	</th>
	<th>
		Passing Rating
	</th>
	<th>
		Rushing Rating
	</th>
	<th>
		Receiving Rating
	</th>
</tr>
{% for player in players %}
<tr class="player_row">
	<td class="oddCol">
		<a href="/player/{{player.name}}" target="_blank">
			{{player.name}}
		</a>
	</td>
	<td class="evenCol">
		{{player.position}}
	</td>
	<td class="oddCol">
		{{player.passing_ability}}
	</td>
	<td class="evenCol">
		{{player.rushing_ability}}
	</td>
	<td class="oddCol">
		{{player.receiving_ability}}
	</td>
</tr>
{% endfor %}
</table>
<table id="team_table">
<tr>
	<th>
		Name
	</th>
	<th>
		Position
	</th>
	<th>
		Passing Rating
	</th>
	<th>
		Rushing Rating
	</th>
	<th>
		Receiving Rating
	</th>
</tr>
{% for player in drafted_players %}
<tr>
	<td class="oddCol">
		<a href="/player/{{player.name}}" target="_blank">
			{{player.name}}
		</a>
	</td>
	<td class="evenCol">
		{{player.position}}
	</td>
	<td class="oddCol">
		{{player.passing_ability}}
	</td>
	<td class="evenCol">
		{{player.rushing_ability}}
	</td>
	<td class="oddCol">
		{{player.receiving_ability}}
	</td>
</tr>
{% endfor %}
</table>
<br/>
<div id="draft_data"></div>
<br/>
<div id="draft_log"></div>
<script type="text/javascript">
	function reloadContent(player_sets){
					var players=player_sets[0];
					$('#players_table').html("<tr><th>Name</th><th>Position</th><th>Passing Rating</th><th>Rushing Rating</th><th>Receiving Rating</th></tr>");
					for(var i=0;i<players.length;i++){
						$('#players_table').append("<tr class=\"player_row\"><td><a href=\"/player/"+players[i].fields.name+"\" target=\"_blank\">"+players[i].fields.name+"</a></td><td>"+
														players[i].fields.position+"</td><td>"+
														players[i].fields.passing_ability+"</td><td>"+
														players[i].fields.rushing_ability+"</td><td>"+
														players[i].fields.receiving_ability+
														"</td></tr>");
					}
					players=player_sets[1];
					$('#team_table').html("<tr><th>Name</th><th>Position</th><th>Passing Rating</th><th>Rushing Rating</th><th>Receiving Rating</th></tr>");
					for(var i=0;i<players.length;i++){
						$('#team_table').append("<tr><td><a href=\"/player/"+players[i].fields.name+"\" target=\"_blank\">"+players[i].fields.name+"</a></td><td>"+
														players[i].fields.position+"</td><td>"+
														players[i].fields.passing_ability+"</td><td>"+
														players[i].fields.rushing_ability+"</td><td>"+
														players[i].fields.receiving_ability+
														"</td></tr>");
					}
					$('.player_row').on('click',draft);
					
					$('.player_row').on('mouseenter',function(){
						this.style.background="red";
					});
					$('.player_row').on('mouseleave',function(){
						this.style.background="white";
					});
	}
	function draft(){
		event.preventDefault();
			var player_n=$.trim($(this).find('a').text());
            $.ajax({
					url:"/draft_player/",
					type : "POST",
					dataType: "json",
					data : {
					selection : $.trim($(this).find('a').text()),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success : function(player_sets) {
					reloadContent(player_sets);
				}
			});

	}
	function updateData(){
		//event.preventDefault();
			//var player_n=$.trim($(this).find('a').text());
            $.ajax({
					url:"/draft_player/",
					type : "POST",
					dataType: "json",
					data : {
					//selection : $.trim($(this).find('a').text()),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success : function(data) {
					$('#draft_data').text("The "+data[2][0].fields.team_name+" are currently drafting.");
					$('#draft_log').text("");
					for(var i=data[3].length-1;i>=0;i--)
						$('#draft_log').append("<div>"+data[3][i]+"</div>");
					reloadContent(data)
				}
			});

	}
	$(document).ready(function() {
		$('.player_row').on('mouseenter',function(){
			this.style.background="red";
		});
		$('.player_row').on('mouseleave',function(){
			this.style.background="white";
		});
		$('.player_row').on('click',draft);

		setInterval(function(){updateData()}, 5000);
	});
</script>
