{% include "header.html" %}
<body class="footballBody">
<div class="bodyDiv">
<div id="teams">
	{% for team in teams %}
		{{team.team_name}}
	{% endfor %}
</div>

<br/>
<br/>

<button type="button" onclick="hostGame();">Host Game</button>

<br/>
<br/>

<div id="games">
	{% for host in hosts %}
		<a href="/play_game">{{host.team_name}}</a>
	{% endfor %}
</div>

<script type="text/javascript">

function hostGame(){
	$.ajax({
		url:"/lobbyupdate/",
		type : "POST",
		dataType: "json",
		data : {
			hosting: true,
			csrfmiddlewaretoken: '{{ csrf_token }}',
		},
		success : function(data) {
			$('#teams').html(" ");
			var teams = data[0];
			for(var i=0;i<teams.length;i++)
					$('#teams').append(teams[i].fields.team_name + " ");

			$('#games').html(" ");
			var hosts = data[1];
			for(var i=0;i<hosts.length;i++)
					$('#games').append("<a href='/play_game/" + hosts[i].fields.team_name + "'>" + hosts[i].fields.team_name + "</a>");
		}
	});
}

function updateLobby(){
	$.ajax({
		url:"/lobbyupdate/",
		type : "POST",
		dataType: "json",
		data : {
			csrfmiddlewaretoken: '{{ csrf_token }}',
		},
		success : function(data) {
			$('#teams').html(" ");
			var teams = data[0];
			for(var i=0;i<teams.length;i++)
					$('#teams').append(teams[i].fields.team_name + " ");

			$('#games').html(" ");
			var hosts = data[1];
			for(var i=0;i<hosts.length;i++)
				$('#games').append("<a href='/play_game/" + hosts[i].fields.team_name + "'>" + hosts[i].fields.team_name + "</a>");
		}
	});

    setTimeout(updateLobby, 3000);
}

updateLobby();

jQuery(window).bind('beforeunload', function(){
    $.ajax({
		url:"/lobbyexit/",
		async:false,
	});
});
</script>
</div>
</body>
