{% include "header.html" %}

<div>{{player.name}}</div>
<div><a href="/team/{{player.team.team_name}}">{{player.team}}</a></div>
<table border="1">
	<tr>
		<th class="footballTh">Week</th>
		<th class="footballTh">Passing Yards</th>
		<th class="footballTh">Passing Touchdowns</th>
		<th class="footballTh">Rushing Yards</th>
		<th class="footballTh">Rushing Touchdowns</th>
		<th class="footballTh">Receiving Yards</th>
		<th class="footballTh">Receiving Touchdowns</th>
	</tr>
{% for stat in statistics %}
	<tr>
	<td class="oddCol">{{ stat.week }}</td>
	<td class="evenCol">{{ stat.passing_yards }}</td>
	<td class="oddCol">{{ stat.passing_touchdowns }}</td>
	<td class="evenCol">{{ stat.rushing_yards }}</td>
	<td class="oddCol">{{ stat.rushing_touchdowns }}</td>
	<td class="evenCol">{{ stat.receiving_yards }}</td>
	<td class="oddCol">{{ stat.receiving_touchdowns }}</td>
	</tr>
{% endfor %}
	<tr>
	<td>Total</td>
	{% for  total in total_statistics %}

		<td>{{total}}</td>
	{% endfor %}
	</tr>
</table>
