<!DOCTYPE html>
<head>
{% block title %}<title>Fantasy Football</title>{% endblock %}

<!-- Bootstrap core CSS -->
<link href="http://localhost/css/bootstrap.css" rel="stylesheet">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fantasy Football</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/leagues">Leagues</a></li>
        <li><a href="/players">Players</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="/draft">Draft</a></li>
          <li><a href="/set_roster">Set Roster</a></li>
          <li><a href="/lobby">Play</a></li>
          <li><a href="/logout">Log Out</a></li>
        {% else %}
          <li><a href="/login">Log In</a></li>
          <li><a href="/create">Create Account</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://localhost/js/bootstrap.min.js"></script>
</head>

<br/>
<br/><br/>
<br/>